<h1>This is the index of Post</h1>
<h2>*Convert this page to List of Chores<h2>
<p id="notice"><%= notice %></p>
<main class="row">
    <article class="coffee-span-8 coffee-880-span-8 coffee-549-span-12 coffee-700-span-12">
      <p>
      ToDo:
      <br>
      1)Convert this page to list of chores.
      <br>
      2)Output a table that shows all chores not completed.
      <br>
      3)Output a Radio button or check box that will register the chore as completed.
      <br>
      4)?Alert other user that the chore is completed or that a chore is overdue?




      </p>

<br>

<center> 
<h1>House Chores</h1>
<table>
  <thead>
    <tr>
      <th>Task: </th>
      <th>Assigned to:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create a new Chore! =(', new_post_path %>
<br>
</center>
</div>
</article>
</div>  
</main>

